<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>MVCTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ABC</servlet-name>
    <servlet-class>mvc01.ABC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ABC</servlet-name>
    <url-pattern>/mvc01/ABC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>form</servlet-name>
    <servlet-class>mvc01.Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>form</servlet-name>
    <url-pattern>/mvc01/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SampleController</servlet-name>
    <servlet-class>mvc01.SampleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleController</servlet-name>
    <url-pattern>*.nhn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SampleCnt</servlet-name>
    <servlet-class>mvc02.SampleCnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleCnt</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommandController</servlet-name>
    <servlet-class>mvc03.CommandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>CommandCtrl</servlet-name>
    <servlet-class>mvc04.CommandCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandCtrl</servlet-name>
    <url-pattern>*.sam</url-pattern>
  </servlet-mapping>
</web-app>